USE [ProyectoVerano]
GO
----------------****** Object:  Table [dbo].[Cliente]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[identificacion] [nvarchar](30) NOT NULL UNIQUE,
	[tipo_identificacion] [nvarchar](30) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[apellidos] [nvarchar](120) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[pais_residencia] [nvarchar](60) NOT NULL,
	[provincia_cr] [nvarchar](60) NULL,
	[canton_cr] [nvarchar](60) NULL,
	[distrito_cr] [nvarchar](60) NULL,
	[correo] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
----------------****** Object:  Table [dbo].[Comodidad]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comodidad](
	[id_comodidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_comodidad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
----------------****** Object:  Table [dbo].[Establecimiento]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento](
	[cedula_juridica] [nvarchar](30) NOT NULL UNIQUE,
	[nombre_hotel] [nvarchar](120) NOT NULL,
	[tipo] [nvarchar](40) NOT NULL,
	[provincia] [nvarchar](60) NOT NULL,
	[canton] [nvarchar](60) NOT NULL,
	[distrito] [nvarchar](60) NOT NULL,
	[barrio] [nvarchar](60) NULL,
	[senas] [nvarchar](250) NULL,
	[gps_lat] [decimal](10, 7) NULL,
	[gps_lon] [decimal](10, 7) NULL,
	[correo] [nvarchar](120) NOT NULL,
	[url_web] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula_juridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
----------------****** Object:  Table [dbo].[Establecimiento_Servicio]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento_Servicio](
	[cedula_juridica] [nvarchar](30) NOT NULL,
	[id_servicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula_juridica] ASC,
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Establecimiento_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_EstServ_Est] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[Establecimiento] ([cedula_juridica])
GO
ALTER TABLE [dbo].[Establecimiento_Servicio] CHECK CONSTRAINT [FK_EstServ_Est]
GO
ALTER TABLE [dbo].[Establecimiento_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_EstServ_Serv] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio_Hospedaje] ([id_servicio])
GO
ALTER TABLE [dbo].[Establecimiento_Servicio] CHECK CONSTRAINT [FK_EstServ_Serv]
GO
----------------****** Object:  Table [dbo].[Establecimiento_Tipo_Habitacion]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento_Tipo_Habitacion](
	[cedula_juridica] [nvarchar](30) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[cantidad_de_ese_tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula_juridica] ASC,
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstTipo_idtipo] UNIQUE NONCLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
----------------****** Object:  Table [dbo].[Factura]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[cargos_habitacion] [decimal](10, 2) NOT NULL,
	[numero_noches] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[metodo_pago] [nvarchar](10) NOT NULL,
	[fecha_hora_registro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Reserv] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reservacion] ([id_reserva])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Fact_Reserv]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Fact_Metodo] CHECK  (([metodo_pago]='Tarjeta' OR [metodo_pago]='Efectivo'))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Fact_Metodo]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Fact_NoNoches] CHECK  (([numero_noches]>(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Fact_NoNoches]
GO
----------------****** Object:  Table [dbo].[Foto_Tipo_Habitacion]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foto_Tipo_Habitacion](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[url_foto] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Foto_Tipo_Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Foto_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_Habitacion] ([id_tipo])
GO
ALTER TABLE [dbo].[Foto_Tipo_Habitacion] CHECK CONSTRAINT [FK_Foto_Tipo]
GO
----------------****** Object:  Table [dbo].[Habitacion]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica] [nvarchar](30) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[estado] [nvarchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Hab_Num] UNIQUE NONCLUSTERED 
(
	[cedula_juridica] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Hab_EstTipo] FOREIGN KEY([cedula_juridica], [id_tipo])
REFERENCES [dbo].[Establecimiento_Tipo_Habitacion] ([cedula_juridica], [id_tipo])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Hab_EstTipo]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [CK_Hab_Estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [CK_Hab_Estado]
GO
----------------****** Object:  Table [dbo].[RedSocial_Establecimiento]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedSocial_Establecimiento](
	[id_red] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica] [nvarchar](30) NOT NULL,
	[red] [nvarchar](40) NOT NULL,
	[url] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_red] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RedSocial_Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Red_Est] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[Establecimiento] ([cedula_juridica])
GO
ALTER TABLE [dbo].[RedSocial_Establecimiento] CHECK CONSTRAINT [FK_Red_Est]
GO
----------------****** Object:  Table [dbo].[Reservacion]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](30) NOT NULL,
	[id_habitacion] [int] NOT NULL,
	[fecha_hora_ingreso] [datetime2](0) NOT NULL,
	[cantidad_personas] [int] NOT NULL,
	[posee_vehiculo] [bit] NOT NULL,
	[fecha_salida] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reserv_Cliente] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cliente] ([identificacion])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reserv_Cliente]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reserv_Hab] FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[Habitacion] ([id_habitacion])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reserv_Hab]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [CK_Reserv_Fechas] CHECK  (([fecha_salida]>[fecha_hora_ingreso]))
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [CK_Reserv_Fechas]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [CK_Reserv_Personas] CHECK  (([cantidad_personas]>(0)))
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [CK_Reserv_Personas]
GO
----------------****** Object:  Table [dbo].[Servicio_Hospedaje]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio_Hospedaje](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_servicio] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
----------------****** Object:  Table [dbo].[Telefono_Cliente]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Cliente](
	[id_tel_cli] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](30) NOT NULL,
	[codigo_pais] [nvarchar](10) NOT NULL,
	[numero] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tel_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Telefono_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_TelCli_Cli] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cliente] ([identificacion])
GO
ALTER TABLE [dbo].[Telefono_Cliente] CHECK CONSTRAINT [FK_TelCli_Cli]
GO
----------------****** Object:  Table [dbo].[Telefono_Establecimiento]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Establecimiento](
	[id_tel_est] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica] [nvarchar](30) NOT NULL,
	[codigo_pais] [nvarchar](10) NOT NULL,
	[numero] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tel_est] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Telefono_Establecimiento]  WITH CHECK ADD  CONSTRAINT [FK_TelEst_Est] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[Establecimiento] ([cedula_juridica])
GO
ALTER TABLE [dbo].[Telefono_Establecimiento] CHECK CONSTRAINT [FK_TelEst_Est]
GO
----------------****** Object:  Table [dbo].[Tipo_Habitacion]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Habitacion](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[tipo_cama] [nvarchar](30) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_EstTipo_Est] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[Establecimiento] ([cedula_juridica])
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion] CHECK CONSTRAINT [FK_EstTipo_Est]
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_EstTipo_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_Habitacion] ([id_tipo])
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion] CHECK CONSTRAINT [FK_EstTipo_Tipo]
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion]  WITH CHECK ADD  CONSTRAINT [CK_CantidadTipo] CHECK  (([cantidad_de_ese_tipo]>=(0)))
GO
ALTER TABLE [dbo].[Establecimiento_Tipo_Habitacion] CHECK CONSTRAINT [CK_CantidadTipo]
GO
----------------****** Object:  Table [dbo].[TipoHabitacion_Comodidad]    Script Date: 8/1/2026 15:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion_Comodidad](
	[id_tipo] [int] NOT NULL,
	[id_comodidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC,
	[id_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TipoHabitacion_Comodidad]  WITH CHECK ADD  CONSTRAINT [FK_THC_Comodidad] FOREIGN KEY([id_comodidad])
REFERENCES [dbo].[Comodidad] ([id_comodidad])
GO
ALTER TABLE [dbo].[TipoHabitacion_Comodidad] CHECK CONSTRAINT [FK_THC_Comodidad]
GO
ALTER TABLE [dbo].[TipoHabitacion_Comodidad]  WITH CHECK ADD  CONSTRAINT [FK_THC_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_Habitacion] ([id_tipo])
GO
ALTER TABLE [dbo].[TipoHabitacion_Comodidad] CHECK CONSTRAINT [FK_THC_Tipo]
GO
-----------------------------------------------------------
------------------- TABLAS DE RECREACIÓN ------------------
-----------------------------------------------------------
----------------****** Object:  Table [dbo].[Empresa_Recreacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Recreacion](
    [id_empresa_recreacion] [int] IDENTITY(1,1) NOT NULL,
    [nombre] [varchar](120) NOT NULL,
    [cedula_juridica] [varchar](25) NOT NULL,
    [correo] [varchar](120) NULL,
    [nombre_contacto] [varchar](120) NULL,
    [provincia] [varchar](60) NULL,
    [canton] [varchar](60) NULL,
    [distrito] [varchar](60) NULL,
    [señas_exactas] [varchar](250) NULL,
    [precio] [decimal](10,2) NULL,
 CONSTRAINT [PK_Empresa_Recreacion] PRIMARY KEY CLUSTERED 
(
    [id_empresa_recreacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Empresa_Recreacion_Cedula] UNIQUE NONCLUSTERED 
(
    [cedula_juridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

----------------****** Object:  Table [dbo].[Telefono_Empresa_Recreacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Empresa_Recreacion](
    [id_telefono] [int] IDENTITY(1,1) NOT NULL,
    [id_empresa_recreacion] [int] NOT NULL,
    [codigo_pais] [varchar](5) NULL,
    [telefono] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Telefono_Empresa_Recreacion] PRIMARY KEY CLUSTERED 
(
    [id_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Telefono_Empresa_Recreacion]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Empresa_Recreacion] FOREIGN KEY([id_empresa_recreacion])
REFERENCES [dbo].[Empresa_Recreacion] ([id_empresa_recreacion])
ON DELETE CASCADE
GO

----------------****** Object:  Table [dbo].[Tipo_Actividad] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Actividad](
    [id_tipo_actividad] [int] IDENTITY(1,1) NOT NULL,
    [nombre] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Tipo_Actividad] PRIMARY KEY CLUSTERED 
(
    [id_tipo_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TipoActividad_Nombre] UNIQUE NONCLUSTERED 
(
    [nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

----------------****** Object:  Table [dbo].[Servicio_Recreacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio_Recreacion](
    [id_servicio] [int] IDENTITY(1,1) NOT NULL,
    [nombre] [varchar](80) NOT NULL,
    [descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Servicio_Recreacion] PRIMARY KEY CLUSTERED 
(
    [id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Servicio_Nombre] UNIQUE NONCLUSTERED 
(
    [nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

----------------****** Object:  Table [dbo].[Empresa_Actividad] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Actividad](
    [id_empresa_recreacion] [int] NOT NULL,
    [id_tipo_actividad] [int] NOT NULL,
 CONSTRAINT [PK_Empresa_Actividad] PRIMARY KEY CLUSTERED 
(
    [id_empresa_recreacion] ASC,
    [id_tipo_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa_Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Actividad_Empresa] FOREIGN KEY([id_empresa_recreacion])
REFERENCES [dbo].[Empresa_Recreacion] ([id_empresa_recreacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresa_Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Actividad_Tipo] FOREIGN KEY([id_tipo_actividad])
REFERENCES [dbo].[Tipo_Actividad] ([id_tipo_actividad])
GO

----------------****** Object:  Table [dbo].[Empresa_Servicio_Recreacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Servicio_Recreacion](
    [id_empresa_recreacion] [int] NOT NULL,
    [id_servicio] [int] NOT NULL,
 CONSTRAINT [PK_Empresa_Servicio_Recreacion] PRIMARY KEY CLUSTERED 
(
    [id_empresa_recreacion] ASC,
    [id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa_Servicio_Recreacion]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Servicio_Empresa] FOREIGN KEY([id_empresa_recreacion])
REFERENCES [dbo].[Empresa_Recreacion] ([id_empresa_recreacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresa_Servicio_Recreacion]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Servicio_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio_Recreacion] ([id_servicio])
GO